# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
android/.gradle/
android/app/build/
pubspec.lock

# Android Studio
*.iml
*.ipr
*.iws
*.log
.idea/
.gradle/
local.properties

# macOS
.DS_Store

# VS Code
.vscode/
